.edit-btn {
  /* position: absolute; */
  right: 0;
  bottom: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;
  /* background-color: rgba(143, 164, 152, 0.5); */

  background-color: transparent;
  color: rgba(143, 164, 152, 0.9);
  /* background-color: rgba(143, 164, 152, 0.7); */
  border: 1px solid rgba(143, 164, 152, 0.9);
  /* border: none; */
  cursor: pointer;
  text-align: center;
  line-height: 50%;
  border-radius: 0.4rem;
  border-bottom-right-radius: 0;
}

.edit-btn:hover {
  background-color: rgba(143, 164, 152, 0.7);
  border: none;
  color: white;
}
