.category-div {
  width: 200px;
  font-size: 10px;
  background-color: rgba(218, 211, 197, 0.8);
  border-top: 1px dashed rgba(64, 73, 94, 1);
}

.first-category-div {
  border-top: none !important;
}

.editable-div {
  outline: none;
  /* border-right: 1px solid black; */
  border-left: 1px solid black;
  /* background-color: rgba(224, 224, 224, 0.5); */
  background-color: rgba(218, 211, 197, 0.5);
}

.editable-div:focus {
  /* background-color: rgba(143, 164, 152, 0.5); */
  background-color: rgba(184, 173, 147, 0.5);
}

.add-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: rgba(143, 164, 152, 0.5);
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 50%;
  border-radius: 0.2rem;
  border-bottom-right-radius: 0;
}

.add-btn:hover {
  background-color: rgba(143, 164, 152, 0.7);
}

.add-first-btn {
  padding: 0;
  height: 1.2rem;
  width: 40%;
  background-color: rgba(143, 164, 152, 0.7);
  border: none;
  margin-bottom: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 50%;
  border-radius: 0.2rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.add-first-btn:hover {
  background-color: rgba(143, 164, 152, 0.9);
}

button:focus {
  outline: 0;
}

.col-pixel-width-100 {
  /* This is the short-hand for flex-grow, flex-shrink, and flex-basis */
  flex: 0 0 100px;
}

.container {
  width: auto;
  max-width: none;
}

@media (min-width: 576px) {
  .container {
    max-width: 90vw;

    /* max-width: 540px; */
  }
}
